@import 'util';

.repo {
  .border-split {
    border-bottom: 1px solid $softColor;
  }

  .no-repo-message {
    text-align: center;
    margin-top: 18px;
    color: #ddd;
  }

  .statistics {
    text-align: center;

    td {
      border: none;
    }
  }

  .detail-icon {
    color: $smoothColor;
    font-size: 36px;
    margin-top: 40px;
  }

  .repo-title {
    margin-top: 39px;
  }

  .statistic-box {
    background-color: #eee;
    height: 150px;
    border: 3px solid #fff;
  }

  .statistic {
    margin-top: 34px;
  }

  .percentage0 {
    background-color: #DD1812;
  }

  .percentage1 {
    background-color: #FCCA03;
  }

  .percentage2 {
    background-color: #16A61E;
  }

  .percentage3 {
    background-color: #0140CA;
  }
}