@import 'util';

.repos {
  .border-split {
    border-bottom: 1px solid $softColor;
  }

  .spinner {
    background: url('../images/octocat-spinner-32.gif') no-repeat 0px 0px;
  }

  .statistics {
    text-align: center;

    td {
      border: none;
    }
  }

  .detail-icon {
    color: $smoothColor;
    font-size: 36px;
    margin-top: 40px;
  }

  .repo-title {
    margin-top: 39px;
  }
}