@import 'util';

.repo {
  .border-split {
    border-bottom: 1px solid $softColor;
  }

  .statistics {
    text-align: center;

    td {
      border: none;
    }
  }

  .detail-icon {
    color: $smoothColor;
    font-size: 36px;
    margin-top: 40px;
  }

  .repo-title {
    margin-top: 39px;
  }

  .statistic-box {
    background-color: #eee;
    height: 150px;
    border: 3px solid #fff;
  }

  .statistic {
    margin-top: 34px;
  }

  .percentage0 {
    background-color: #B33232;
  }

  .percentage1 {
    background-color: #D4C366;
  }

  .percentage2 {
    background-color: #A9D664;
  }

  .percentage3 {
    background-color: #98E9CC;
  }
}