@import 'util';

.user {
  .main-box {
    background-color: #fff;
  }

  .no-user-message {
    text-align: center;
    margin-top: 87px;
    color: #ddd;
  }

  .fixed-box {
    background-color: $softColor;
    height: 240px;
    padding: 10px 0;
  }

  .avatar {
    width: 220px;
    height: 220px;
    border-radius: 6px;
  }

  .details {
    border-top: 1px $softColor solid;
    padding-top: 10px;

    .detail-icon {
      margin-right: 5px;
    }
  }

  .nickname {
    color: $smoothColor;
  }

  .statistics {
    margin-top: 35px;
    text-align: center;

    td {
      border: none;
    }
  }
}