<div class="repos">
    <!-- No repos message -->
    <div class="{{repos.length === 0 ? '' : 'hide'}}">
        <p class="repos impressive no-repos-message">
            <span class="mega-icon octicon-repo"></span>No repos found!
        </p>
    </div>

    <!-- Repositories -->
    <div class="row border-split" ng-repeat="repository in repos | orderBy:'stargazers_count':true">
        <!-- Icon -->
        <div class="col-xs-3 col-md-1">
            <span class="repos detail-icon mega-icon {{repository.iconCls}}"></span>
        </div>

        <!-- Description -->
        <div class="col-xs-9 col-md-7">
            <h3 class="repos repo-title">
                <a gh-repo-link="{{repository}}" href="#/repos/{{user.login}}/{{repository.name}}">{{repository.name}}</a>
            </h3>
            <p class="smooth">{{repository.language}}</p>
        </div>

        <!-- Statistics -->
        <div class="col-xs-6 col-md-4">
            <div class="table-responsive">
                <table class="table repos statistics">
                    <tr class="repos smooth">
                        <td><span class="big-icon octicon-star"></span></td>
                        <td><span class="big-icon octicon-fork"></span></td>
                    </tr>
                    <tr class="repos impressive">
                        <td>{{repository.stargazers_count}}{{repository.stargazers_count === 100 ? '+' : ''}}</td>
                        <td>{{repository.forks_count}}{{reposiroty.forks_count === 100 ? '+' : ''}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>